/* :root {
  --font-logo: 'Raleway', sans-serif;
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --logo-color-dark: #000000;
  --bgc: #2f303a;
  --bgc-light: #f5f4fa;
  --text-color-on-hover-bg: #ffffff;
  --hero-btn-hover: #188ce8;
  --socials-team-logo: #afb1b8;
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
} */

/*
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* 
.images {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* Text decoration for <a>
.logo,
.current,
.nav-list__link,
.contacts-list__link, */
/* .footer-contacts { */
/* text-decoration: none;
} */

/* --------------------------------------Main page - Studio */

/* Header */

/* .page-header {
  border-bottom: 1px solid #ececec;
} */

/* .header-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
} */

/* .logo {
   font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
 .logo__web {
  color: var(--accent-color);
}

.logo__studio_dark {
  color: #000000;
}

.logo__studio_light {
  color: #ffffff;
} */

/* .nav-list {
  display: flex;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list_current {
  color: var(--accent-color);
}

.nav-list__item {
  position: relative;
}

.nav-list_current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
  outline: none;
} */

/* -------------------------------------------- */

/* .contacts-list {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: currentColor;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__icon {
  margin-right: 10px;
  fill: var(--text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover .contacts-list__icon,
.contacts-list__link:focus .contacts-list__icon {
  fill: var(--accent-color);
  outline: none;
} */

/* ----------------------------------------------------------------------------- */
/* .line {
  min-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #ececec;
} */
/* ----------------------------------------------------------------------------- */

/* Hero */

/* .section-hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 452px;
  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-on-dark-accent-bg);
} */

/* .btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-style: none;
  border-radius: 4px;
  color: var(--color-on-dark-accent-bg);
  cursor: pointer;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero {
  padding: 10px 32px;
  text-align: center;
}

.modal-btn {
  padding: 10px 56px;
}

.btn-hero:hover,
.btn-hero:focus,
.btn-modal:hover,
.btn-modal:focus,
.btn-subscribe:hover,
.btn-subscribe:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-btn-hover);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 29px;
} */

/* Modal */

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);

  transition-property: opacity, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--text-color-on-hover-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--text-color-on-hover-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:hover .icon-close {
  fill: var(--accent-color);
}

.icon-close {
  fill: var(--logo-color);
  margin: auto;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.name-wrap,
.tel-wrap,
.mail-wrap {
  display: flex;
  flex-direction: column;
}

.form-name,
.form-tel,
.form-mail,
.form-comment {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);

  text-align: left;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.input-name,
.input-tel,
.input-mail,
.text-comment {
  height: 40px;
  width: 100%;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name:focus,
.input-tel:focus,
.input-mail:focus,
.text-comment:focus {
  border-color: var(--accent-color);
}

.input-name:hover,
.input-tel:hover,
.input-mail:hover,
.text-comment:hover {
  border-color: var(--accent-color);
}

.input-name:focus + .form-icon,
.input-tel:focus + .form-icon,
.input-mail:focus + .form-icon {
  fill: var(--accent-color);
}

.input-name:hover + .form-icon,
.input-tel:hover + .form-icon,
.input-mail:hover + .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-wrap {
  display: flex;
  flex-direction: column;
}

.text-comment {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}

.text-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.agree-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  margin-bottom: 30px;
}

.agree-text {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.agree-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--logo-color);
  border-radius: 2px;
  fill: var(--text-color-on-hover-bg);
}

.user-check:checked + .agree-text span {
  border: none;
  background-color: var(--accent-color);
}

.agree-text a {
  color: var(--accent-color);
  margin-left: 4px;
}

/* Features */

/* .features-list {
  margin-bottom: 94px;
  display: flex;
}

.features-card {
  width: 270px;
}

.features-card:not(:last-child) {
  margin-right: 30px;
}

.feature-card__container {
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bgc-light);
  border-radius: 4px;
}

.features-card__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-card__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */

/* .section-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
} */

/* .specialisation-list {
  display: flex;
  justify-content: space-between;
}

.specialisation-list__fig {
  display: flex;
  position: relative;
  margin: 0;
}

.specialisation-list__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-on-hover-bg);
  background: rgba(47, 48, 58, 0.8);
} */

/* Our team */

/* .team-list {
  display: flex;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__item {
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__images {
  margin-bottom: 30px;
}

.team-list__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-list__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* .socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover,
.socials-list__link:focus {
  background-color: var(--accent-color);
}

.socials-list__link:hover .socials-list__icon,
.socials-list__link:focus .socials-list__icon {
  fill: var(--text-color-on-hover-bg);
}

.socials-list__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__icon_fill_light-gray {
  fill: var(--socials-team-logo);
}

.socials-list__link_bgc_gray {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-list__icon_fill_white {
  fill: var(--color-on-dark-accent-bg);
} */

/* Clients */

/* .clients-list {
  display: flex;
  justify-content: center;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list__icon {
  fill: var(--socials-team-logo);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* Footer */

/* .footer {
  background-color: var(--bgc-dark-gray);
}

.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
} */

/* .section-address {
  display: flex;
  flex-flow: column;
  min-width: 231px;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-on-hover-bg);
}

.footer-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: var(--accent-color);
} */

/* socials */

/* .socials-section {
  padding-top: 12px;
  margin-left: 70px;
}

.socials-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-on-dark-accent-bg);
} */

/* subscribe form */

/* .subscribe-form {
  width: 100%;
  height: auto;
  margin-left: 93px;
  padding-top: 12px;
}

.input-btn-container {
  display: flex;
  width: 570px;
}

.subscribe-label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-on-dark-accent-bg);
}

.subscribe-input {
  margin-right: 12px;
  padding-left: 16px;
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--text-color-on-hover-bg);
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe__icon {
  margin-left: 10px;
  fill: var(color-on-dark-accent-bg);
} */

/* ---------------------------Page - Portfolio */

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Filter buttons */

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style-type: none;
}

.buttons-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--background-button-section);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:focus,
.filter-button:hover {
  color: var(--text-color-on-hover-bg);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

/* Projects */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  list-style-type: none;
}

.projects-list > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list > .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-fig {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(105%);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-color-on-hover-bg);
  background: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover .overlay {
  transform: translateY(0);
  /* animation-name: overlay;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-delay: 0;
  animation-fill-mode: forwards; */
}

.card-text {
  display: block;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-type {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

/* Animation for projects list */

/* @keyframes overlay {
  0% {
    height: 0;
  }

  50% {
    visibility: visible;
  }

  100% {
    height: 100%;
  }
} */
