:root {
  --font-logo: 'Raleway', sans-serif;
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --logo-color-dark: #000000;
  --bgc: #2f303a;
  --background-button-section: #f5f4fa;
  --color-on-dark-accent-bg: #ffffff;
  --accent-btn-hover: #188ce8;
  --socials-team-logo: #afb1b8;
}
